<html>
<head>
	<meta charset="utf-8">
	<title>RoR Sample</title>
	
	<link href="style.css" rel="stylesheet" type="text/css">
	
</head>
<body>
	
	<h1>Pages#home</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>My name is Rohan</p>
	
	
</body>
</html>

